@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sacramento&display=swap');
@import "tailwindcss";

html,
body {
    background-color: black;
    overscroll-behavior: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-y: none;
}